.translation-view {
  background: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .translation-content {
    padding: 12px;

    .translation-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .translation-duration {
        color: var(--semi-color-text-2);
        font-size: 12px;
      }
    }
  }
}
